body {
    padding-top: 70px;
}

.card {
    margin: auto;
    width: 18rem;
}

.after-test {
    position: relative;
    top: 10px;
    margin-left: 100px;
    background-color: green;
    height: 100px;
    width: 100px;
    opacity: 1;
}

p {
    text-indent: 10px; /* Отступ первой строки в пикселах */
}

.wrap {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo {
    position: relative;
    display: inline-block;
}

.photo img {
    border: 4px solid #b7ff00;
}

.photo span {
    background: #222;
    color: #fff;
    border-radius: 2px;
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 30px;
    padding: 3px 5px;
}

tbody tr:hover {
    background: #f3bd48;
}

.block {
    width: 45%;
}

.photo img {
    width: 100%;
    height: 100%;
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid white;
}

.navigation {
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.container {
    display: grid;
    gap: 20px;
}

.align_Center {
    text-align: center;
}

.box-1 {
    grid-column-start: 1;
    grid-row-start: 1;
}

.box-2 {
    grid-column-start: 2;
    grid-row-start: 1;
}

.box-3 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.box-4 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.box-5 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.box-6 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.box-7 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.box-8 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.box-9 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.col:first-child {
    color: blue;
}
